/*  your css code here. If applicable */
#container{
	width:100vw;
	height:85vh;
	display:flex;
	justify-content:center;
	align-item:center; 
	
}
#card{
	width:300px;
	padding:20px;
/* 	height:200px; */
	background-color:white;
	border-radius:10px;
	box-shadow:0 8px 16px;
	
	
}

.btn{
	padding:20px;
	background-color:#fe625a;
	color:white;
	border-radius:10px;
}

#card>h1{
	text-align:centre;
	
}



